<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JsonConvereterExtesnion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JsonConverterTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macOSJsonConverter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96326E011DC8684700C7D900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96326E151DC8684700C7D900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96326E201DC8684700C7D900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EFCC5C200B308D000FF553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EFCC6E200B30E0000FF553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EFCC7F200B30E0000FF553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EFCC8A200B30E0000FF553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EFCC9E200B30FF000FF553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
